[submodule "src/delivery_bot_nav_pkg"]
	path = src/delivery_bot_nav_pkg
	url = git@github.com:Axel-Barbelanne/delivery_bot_nav_pkg.git
[submodule "src/picker_bot_nav_pkg"]
	path = src/picker_bot_nav_pkg
	url = git@github.com:Axel-Barbelanne/picker_bot_nav_pkg.git
[submodule "src/warehouse_mission_control_pkg"]
	path = src/warehouse_mission_control_pkg
	url = git@github.com:Axel-Barbelanne/warehouse_mission_control_pkg.git
[submodule "src/warehouse_simulation_pkg"]
	path = src/warehouse_simulation_pkg
	url = git@github.com:Axel-Barbelanne/warehouse_simulation_pkg.git
[submodule "src/husky"]
	path = src/husky
	url = git@github.com:husky/husky.git
	branch = humble-devel
